* {
    margin: 0;
    padding: 0;
}

.icon-clo {
    color: #c0bcbc;
}

html,
body {
    overflow: hidden;
    background-color: #e7f7f8;
    padding: 0;
}

.win {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}
.container-fluid .row {
    margin-right: 0;
    margin-left: 0;
}

/*nav b*/

.nav {
    top: 0;
    left: 0;
    width: 200px;
    height: 100%;
    float:left;
    background-color: #074f74;
}

.login-information {
    width: 200px;
    height: 200px;
}

.head-portrait {
    position: absolute;
    top: 20px;
    left: 0;
}

.head-portrait-img {
    width: 196px;
    height: 157px;
    border-radius: 50%;
}

.clear {
    display: block;
    overflow: hidden;
    position: absolute;
    top: 100px;
    left: 28px;
}

.login-name {
    display: block !important;
}

.m-t-xs {
    margin-top: 5px;
    box-sizing: border-box;
}

.font-bold {
    font-weight: 600;
    color: #fff;
    box-sizing: border-box;
}

.font-bold:hover {
    color: #fff;
}

.text-muted {
    color: #c4e3f3 !important;
}

.glyphicon-triangle-bottom {
    display: block;
    position: absolute;
    top: 130px;
    left: 100px;
    font-size: 10px;
    color: #adadad;
}

.dropdown-menu {
    position: absolute;
    top: 145px;
    left: 28px;
    background-color: #eeeeee;
}

.nav-lists {
    margin-top: 110px;
    height: 1000px;
}
.nav-lists-details li {
    height: 50px;
    line-height: 50px;
    font-size: 16px;
    list-style: none;
}

.nav-lists-details li a {
    display: block;
    width: 200px;
    height: 50px;
    color: #7f8897;
}
.nav-lists-details li a span {
    margin-right: 6px;
    padding-left: 30px;
}
.nav-lists-details li a:hover {
    text-decoration: none;
    color: #fff;
    background-color: #396e9b;
}

input {
    background-color: #faf5f5;
}

.textbox {
    margin-top: 300px;
    margin-left: 14px;
}

.checkbox-slider--b-flat {
    position: absolute;
    top: 860px;
    left: 124px;
}

.checkbox-slider--b-flat input:checked+span:before {
    background-color: steelblue;
}


/*nav e*/


/*eyebrow b*/

.eyebrow-bar.wTop {
    width: 100%;
    height: 45px;
    cursor: move;
    padding-left: 45px;
    background-color: #4391b8;
    border-bottom: 1px solid #8c8c8c;
    -webkit-app-region: drag;
    margin-top: 3px;
}

.urw-icon {
    height: 45px;
    width:200px;
    float:right;
    line-height: 45px;
    padding-left: 84px;
}
.urw-icon .icon-clo{
    padding:0 10px;
    cursor: pointer;
}

.eyebrow-bar .glyphicon-fullscreen {
    position: absolute;
    top: 18px;
    left: 1130px;
    display: none;
}
.textbox .textbox-text {
    font-size: 14px;
}
input {
    background-color: #e5fffd;
    color: #37b9ff;
}
.panel {
    background-color: #ffeaea;
}
.panel-body {
    line-height: 30px;
    color: #c2dbff;
}
.combobox-item-selected {
    color:#795da3;
    background-color: #e5f6ff;
}
.combobox-item:hover{
    color:#2fa8ec;
}
/*eyebrow e*/


/*main b*/

.main.content {
    position: absolute;
    top: 80px;
    left: 200px;
    height: 1000px;
    background-color: #e7f7f8;
}

.main .breadcrumb {
    width: 1160px;
}

.main .text-date {
    position: absolute;
    top: 30px;
    left: 80px;
}
.inputCount {
    color: #37b9ff;
    background-color: #fff;
}
.main .btn-start {
    color: #fff;
    position: absolute;
    top: 116px;
    left: 510px;
    background-color:#1ab394;
}

.main .btn-start:hover {
    background-color: #27c3a3;
    color: #fff;
}

.main .btn-start:focus {
    color: #fff;
}

.main .row {
    margin: 55px -15px 40px 65px;
}

.main .breadcrumb {
    background-color: #fff;
}

.main .dl-show {
    display: block;
    position: absolute;
    top: 150px;
    left: 16px;
    color: #adadad;
}

select.input-sm {
    position: absolute;
    display: block;
    top: 145px;
    left: 58px;
    width: 60px;
}

.main .df-search {
    display: block;
    position: absolute;
    top: 150px;
    left: 6px;
    color: #adadad;
}

input[type="search"] {
    position: absolute;
    display: block;
    top: 145px;
    left: 60px;
    width: 180px;
}

.main .col-sm-12 {
    margin: 176px 800px 0 0;
}

.main .pagination {
    position: absolute;
    top: 490px;
    left: 1300px;
}

.sl {
    background-color: lightskyblue !important;
}

.main .col-sm-12 .green {
    color: lightgreen;
}

.main .col-sm-12 .red {
    color: red;
}

.main .progressBar {
    width: 200px;
    height: 8px;
    border: 1px solid #98AFB7;
    border-radius: 5px;
    margin-top: 10px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.8),  inset 0 2px 3px rgba(0, 0, 0, 0.2);
}

.main .bar {
    width: 0;
    height: 100%;
    border-radius: inherit;
    background: #70caff;
    background-color: linear-gradient(#e0f6c8,#98ad84);
    box-shadow: inset 0 1px 0 rgba(255,255,255,1),0 1px 5px rgba(0,0,0,0.3),0 4px 5px rgba(0,0,0,0.3);
    animation: loader 10s linear infinite;
}
.main p{
    font-size: 10px;
    color: #c2ccd1;
    margin-top: -28px;
    height:17px;
    line-height: 38px;
    font-size: 12px;
}
.min-bar {
    position: fixed;
    left: 0;
    bottom: 20px;
    cursor: pointer;
    transition: all 0.4s;
    opacity: 0;
    background-color: #fff3f3;
    border-radius: 50%;
}
.min-bar span {
    color:#e7c3c3;
}
thead>tr {
    color: #676a6c;
}
tbody>tr {
    color:#676a6c;
}
/*Minimize the style*/

.min {
    transform: scale(0);
    transition: all 0.4s;
    transform-origin: left bottom
}


/*To maximize the style*/

.max {
    transform: scale(1);
    transition: all 0.4s;
    transform-origin: left bottom;
}